<div
  class="d-flex justify-content-center flex-sm-wrap w-100 h-100"
  infiniteScroll
  [infiniteScrollDistance]="1"
  [infiniteScrollThrottle]="50"
  [infiniteScrollUpDistance]="2"
  [alwaysCallback]="true"
  (scrolled)="onScroll()"
>
  <div *ngFor="let vw of dataSource">
    <mat-card class="personajes-card rounded m-3">
      <div class="header-card">
        <!-- Avatar -->
        <div class="character-species-imagens">
          <img mat-card-image [src]="vw.image" class="rounded-top" />

          <img
            class="avatar {{ getClassStatusForAvatar(vw.status) }}  {{
              getAvatar(vw.species, vw.gender)
            }}"
            [matTooltip]="vw.species + ' ' + vw.status"
            matTooltipPosition="above"
          />
        </div>
      </div>

      <div class="body-card">
        <div class="character-general-info">
          <!-- Nombre personaje -->
          <div>
            <div class="character-name-info">
              <h1 class="click-sobre" (click)="clickSobreNombrePersonaje()">
                {{ vw.name }}
              </h1>
            </div>

            <!-- Estado del personaje -->
            <!-- <div class="character-status-info">
              <i class="ph-circle-fill" [class]="getClassStatus(vw.status)"></i>
              <span>{{ vw.status }} - {{ vw.species }}</span>
            </div> -->
          </div>

          <!-- Última localización conocida -->
          <div class="more-info">
            <span>Last location know:</span>
            <p>{{ vw.location.name }}</p>
          </div>

          <!-- Primera aparición -->
          <div class="more-info">
            <span>First seen in:</span>
            <p>{{ vw.origin.name }}</p>
          </div>
        </div>
      </div>
    </mat-card>
  </div>
</div>

<!-- Botonera -->
<button
  mat-fab
  color="accent"
  class="boton-subir-arriba"
  (click)="scrollToTop()"
>
  <mat-icon>arrow_upward</mat-icon>
</button>
