.personajes-card {
  max-width: 300px;
  color: white;
}

.personajes-card:hover {
  background-color: #9c27b0;
  cursor: pointer;
}

.personajes-header-image,
.img {
  background-size: cover;
}

.boton-subir-arriba {
  position: fixed;
  bottom: 2%;
  right: 1.5%;
}

.boton-pag-anterior {
  position: fixed;
  bottom: 2%;
  left: 1.5%;
}
