// Otros
h1 {
  font-weight: 500;
  margin: 0 auto;
}

// Card
.personajes-card {
  max-width: 300px;
  color: white;
}

// Header Card
.character-species-imagens {
  position: relative;
}

// Header Card Avatar
.avatar {
  border-radius: 100%;
  background-size: contain;
  position: absolute;
  width: 60px;
  height: 60px;
  top: 2%;
  right: 2%;
  background-color: none;
}

.avatar-alien {
  background-image: url("../../../../../assets/images/alien.png");
}

.avatar-human {
  background-image: url("../../../../../assets/images/user.png");
}

.avatar-humanoid {
  background-image: url("../../../../../assets/images/humanoid.png");
}

.avatar-mythological-creature {
  background-image: url("../../../../../assets/images/troll.png");
}
.avatar-robot {
  background-image: url("../../../../../assets/images/robot.png");
}

.avatar-animal {
  background-image: url("../../../../../assets/images/paw.png");
}

.avatar-unknown {
  background-image: url("../../../../../assets/images/question.png");
}

.avatar-virus {
  background-image: url("../../../../../assets/images/virus.png");
}

.avatar-cronenberg {
  background-image: url("../../../../../assets/images/mantis.png");
}

.avatar-poopybutthole {
  background-image: url("../../../../../assets/images/mierda.png");
}

// Body card
.body-card {
  margin-top: 2%;
  margin-left: 4%;
}

.click-sobre:hover {
  color: #69f0ae;
  cursor: pointer;
}

// Card info status
.character-status-info {
  margin-top: 2%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.character-status-info i {
  margin-right: 3%;
}
// Body de la card
.more-info {
  margin-top: 2%;
  font-weight: 300;
}

.more-info span {
  color: rgb(139, 139, 139);
}
.more-info p:hover {
  color: #9c27b0;
  cursor: pointer;
}

// Botonera
.boton-subir-arriba {
  position: fixed;
  width: 80px;
  height: 80px;
  bottom: 2%;
  right: 1.5%;
}

// Colores
.red {
  color: red;
}

.green {
  color: green;
}

.gray {
  color: gray;
}

.bg-red {
  background-color: rgba(255, 0, 0);
}

.bg-green {
  background-color: rgba(0, 128, 0);
}

.bg-gray {
  background-color: rgba(93, 93, 93);
}
