<div class="d-flex justify-content-center flex-sm-wrap w-100 h-100">
  <div *ngFor="let vw of dataSource">
    <mat-card class="personajes-card rounded m-3" (click)="clickSobreCard()">
      <mat-card-header>
        <mat-card-title>{{ vw.name }}</mat-card-title>
        <mat-card-subtitle>{{ vw.species }}</mat-card-subtitle>
        <div mat-card-avatar>
          <img mat-card-avatar [src]="vw.image" />
        </div>
      </mat-card-header>

      <img mat-card-image [src]="vw.image" class="rounded" />
    </mat-card>
  </div>
</div>

<button
  mat-fab
  color="accent"
  class="boton-subir-arriba"
  (click)="cargarPersonajes(paginaActual + 1)"
>
  <mat-icon>arrow_right</mat-icon>
</button>

<button
  mat-fab
  color="accent"
  class="boton-pag-anterior"
  *ngIf="paginaActual != 1"
  (click)="cargarPersonajes(paginaActual - 1)"
>
  <mat-icon>arrow_left</mat-icon>
</button>

<!-- <mat-icon>arrow_upward</mat-icon> -->
